<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <span class="navbar-brand" style="margin-left: 0; transform: translateX(-50%); left: 50%; position: absolute;">#365DayDraw: {{draw_date | date:'MMMM d'}}</span>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a [routerLink]="['']" title="Home"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></a></li>
        <li><a (click)="goBack()" title="Back"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span></a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a [routerLink]="['/search']" title="Search"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container-fluid">
	<div class="row">
		<p class="imageNavigation">
			<button type="button" class="btn btn-default btn-previous" title="Previous day" (click)="getPreviousDay()"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span></button>
			<button type="button" class="btn btn-default btn-next" title="Next day" (click)="getNextDay()"><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></button>
		</p>

		<img ng-show="draw_day" class="dayImage" src="/assets/img/{{draw_month}}/{{draw_day}}.gif" />
		<p class="dayCaption">{{ draw_text }}</p>

		<hr>
		<div class="text-center">
			<button (click)="goToTwitter()" class="button btn btn-xs btn-primary twitter-image">
				<img src="/assets/img/twitter.png" /> View on Twitter
			</button>
		</div>
		<div class="row">
			<div class="col-md-12 copyright">
				&copy; 2016 Scott Dawson. All rights reserved. <br />
				<a [routerLink]="['']">Welcome</a> | 
				<a [routerLink]="['/1']">Browse</a> | 
				<a [routerLink]="['/search']">Search</a> | 
				<a href="http://twitter.com/scottpdawson" target=_blank>@scottpdawson</a>
			</div>
		</div>
	</div>
</div>