<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <span class="navbar-brand" style="margin-left: 0; transform: translateX(-50%); left: 50%; position: absolute;">#365DayDraw</span>
    </div>    
  </div><!-- /.container-fluid -->
</nav>

<div class="container-fluid">

	<div class="row">
		<div class="col-md-12">
			<p><img src="/assets/img/1/1.gif" alt="Cupcake" class="pull-right" style="max-width: 120px; max-height: 120px;">January 1, 2016. I picked up a flair pen and drew a <a [routerLink]="['/1/1']">cupcake</a> in a seldom-used pad with the form factor of a detective’s notebook. I thought it was kind of cool, and thumbed through the remainder of pages in the pad. <i>All blank.</i> In my office, I had two more refill pads. What if I drew something, anything, each day of the year? Certainly, that could evolve into something interesting.</p>
			<p><b>This is the result of that something.</b> Each month people helped choose the winner, which in turn inspired a story. Enjoy the drawings, the stories, and the inspiration!</p>
			<ul class="list-group">
				<a class="list-group-item" [routerLink]="['/1']" title="Browse by month"><i class="glyphicon glyphicon-calendar"></i> Browse by month</a>
				<a class="list-group-item" [routerLink]="['/search']" title="Search"><i class="glyphicon glyphicon-search"></i> Search the drawings</a>
				<a class="list-group-item" href="http://scottpdawson.com/365-day-draw-sketching-each-day-in-2016" target=_blank><i class="glyphicon glyphicon-new-window"></i> More about #365DayDraw</a>
				<a class="list-group-item" href="http://scottpdawson.com/365daydraw-challenge-completed" target=_blank><i class="glyphicon glyphicon-new-window"></i> Yearly recap</a>
				<a class="list-group-item" href="http://twitter.com/scottpdawson" target=_blank><i class="glyphicon glyphicon-new-window"></i> Follow @scottpdawson on twitter</a>
			</ul>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12 copyright">
			&copy; 2016 Scott Dawson. All rights reserved. <br />
			<a [routerLink]="['']">Welcome</a> | 
			<a [routerLink]="['/1']">Browse</a> | 
			<a [routerLink]="['/search']">Search</a> | 
			<a href="http://twitter.com/scottpdawson" target=_blank>@scottpdawson</a>
		</div>
	</div>

</div>

