/* You can add global styles to this file, and also import other style files */
@import url(https://fonts.googleapis.com/css?family=Merriweather|Abril+Fatface);
p, .navbar-brand {
	font-family: 'Merriweather', serif;
}
p {
    line-height: 1.75em;
    margin-bottom: 2em;
}
.dayImage {
	max-height: 400px;
	max-width: 90%;
	text-align: center;
	display: block;
	margin: 0 auto;
	margin-bottom: 1em;
}
.dayCaption {
	max-width: 80%;
	font-size: 1.6em;
	color: #585858;
	text-align: center;
	display: block;
	margin: 0 auto;
}
.navbar-right {
	margin-right: 0px;
}
.imageNavigation {
	position: relative;
}
.imageNavigation button {
	width: 100px;
	height: 100px;
	border-radius: 20px;
	background: #F8F8F8;
	font-size: 2.4em;
	border: 0;
	top: 200px;
	position: absolute;
	color: #ccc;
}
.imageNavigation button.btn-previous {
	left: 0;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
.imageNavigation button.btn-next {
	right: 0;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.l-grid {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.l-grid > li {
  display: inline-block;
  margin: 0 0 10px 10px;
  
  /* ie7 hack */ 
  *display: inline;
  *zoom: 1;
}
.month-grid {
	text-align: center;
}
.month-grid li {
	width: 120px;
	height: 120px;
	text-align: center;
	position: relative;
	margin: 0px 5px 15px;
	vertical-align: top;
    border-top: 1px solid #dedede;
    border-right: 1px solid #dedede;
}
.month-grid li.selected {
	background-color: rgba(92, 184, 92, 0.18);
	border: 1px solid #5cb85c;
    border-radius: 12px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
}
.month-grid img {
	max-height: 90%;  
    max-width: 90%; 
    width: auto;
    height: auto;
    position: absolute;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;
}
.month-grid .label {
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: .85em;
    z-index: 100;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}
.month-selector {
	text-align: center;
}
.month-selector li:hover {
	cursor: pointer;
	background-color: #efefef;
}
.navbar-brand:hover {
	cursor: pointer;
}
.twitter-image {
	border: 0;
	background-color: #009FF4;
}
.twitter-image img {
	position: relative;
	top: -1px;
}
.feature-story img {
	max-width: 200px;
	display: block;
	margin: 0px 0px 20px 0px;
}
.row.buffer_bottom {
	margin-bottom: 20px;
}
h2 {
	font-family: 'Abril Fatface', sans-serif;
    font-size: 3em;
    margin-top: 0px;
}
h3 {
	font-family: 'Merriweather', sans-serif;
	text-transform: uppercase;
	color: #666;
	font-size: 1.2em;
	font-weight: normal;
}
h3 + h2 {
	margin-top: -10px;
}
.main-story img {
	max-width: 200px;
	max-height: 200px;
}

input.disabled {
  opacity: 0.65; 
  cursor: not-allowed !important;
}
#search {
    position: relative;
}
#search input[type="search"] {
    color: #333;
    font-size: 5em;
    font-weight: 300;
    text-align: center;
    border: 0px;
    outline: none;
    border-bottom: 5px solid #dedede;
    width: 100%;
}
#search .clear-search {
	position: absolute;
	right: 0;
	top: 0.2em;
	font-size: 6em;
	color: #DEDEDE;
}
#search .clear-search:hover {
	cursor: pointer;
}
#search input[type="search"]::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #dedede;
}
#search input[type="search"]::-moz-placeholder { /* Firefox 19+ */
  color: #dedede;
}
#search input[type="search"]:-ms-input-placeholder { /* IE 10+ */
  color: #dedede;
}
#search input[type="search"]:-moz-placeholder { /* Firefox 18- */
  color: #dedede;
}
.copyright {
	text-align: center;
	margin-top: 20px;
	padding-top: 20px;
	font-size: .9em;
	margin-bottom: 20px;
	border-top: 1px solid #dedede;
}

@media only screen and (max-width: 991px) {
    .feature-story img {
    	float: right;
    }
    .imageNavigation button {
		width: 50px;
		height: 50px;
		border-radius: 10px;
		background: #F8F8F8;
		font-size: 2.4em;
		border: 0;
		top: 0px;
		position: absolute;
		color: #ccc;
		box-shadow: 0 0 20px #666;
	}
	.nav>li {
	    float: left;
	}
	.nav.navbar-right {
		position: absolute;
		top: 0;
		right: 0;
	}
	.nav.navbar-right>li {
	    float: right;
	}
}

@media only screen and (max-width: 550px) {
	.feature-story {
		text-align: center;
	}
    .feature-story img {
    	display: block;
    	float: none;
    	margin: 0 auto;
    }
    .navbar-brand {
    	width: 100%;
    	text-align: center;
    }
}















